body{
  background-color: orange;
}

.notes-display {
  background-color: rgb(252, 252, 172);
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
}

.areainput {
  background-color: black;
  color: red;
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 10px;
  border: solid 1px red;
}

.input {
  background-color: orange;
  color:black;
  padding: 2rem;
  margin-bottom: 10px;
  border-radius: 10px;
  border: solid 1px red;
}

button {
  background-color: red;
  border: solid 1px red;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: flex;
  justify-content: space-between;
  height: 250px;
  width: 800px;
}

.sidebar {
  border-right:solid 1px black;
}
